* {
    bg-col:  #0b0d10;
    bg-col-light: #0b0d10;
    border-col: #0b0d10;
    selected-col: #0b0d10;
    blue: #4796d9;
    fg-col: #d2daf4;
    fg-col2: #636c7e;
    grey: #b5cdbd;
    width: 600;
}


