[submodule "home/.icons"]
	path = home/.icons
	url = https://github.com/bikass/kora
[submodule "gtk3-theme"]
	path = gtk3-theme
	url = https://github.com/itsook/gtk3
[submodule "firefox/chrome"]
	path = firefox/chrome
	url = https://github.com/QNetITQ/WaveFox
