[user]
	email = me@syntax.lol
    name = FromSyntax
	signingkey = 26552D5456A8DFE3
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
    helper = !/usr/bin/gh auth git-credential
[gpg]
	program = gpg
[commit]
	gpgsign = true
