[core]
    pager = delta
	autocrlf = input

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
[user]
	name = eexsty
	email = hello@exst.fun
	signingkey = 400C0D7302F57481
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[commit]
	gpgsign = true
[alias]
	logs = log --show-signature
	x = commit -S
[gpg]
	program = gpg
