Xft.dpi: 96
Xft.antialias: true      
Xft.hinting: false
Xft.rgba: none
Xft.autohint: false
Xft.lcdfilter: lcddefault

! st
st.font: Iosevka Nerd Font:pixelsize=17
st.borderpx: 5
st.cwscale: 1.0
st.chscale: 1.4
*.alpha: 0.95
