Xft.dpi: 96
Xft.antialias: true      
Xft.hinting: false
Xft.rgba: none
Xft.autohint: false
Xft.lcdfilter: lcddefault

! st
st.font: SpaceMono Nerd Font:pixelsize=15
st.borderpx: 20
st.chscale: 1.2
*.alpha: 0.95
