[core]
cache_dir = /var/cache/mopidy
config_dir = /etc/mopidy
data_dir = /var/lib/mopidy

[audio]
output = tee name=t t. ! queue ! autoaudiosink t. ! queue ! audioresample ! audioconvert ! audio/x-raw,rate=44100,channels=2,format=S16LE ! wavenc ! filesink location=/tmp/mpd.fifo
mixer_volume = 70

[logging]
config_file = /etc/mopidy/logging.conf
debug_file = /var/log/mopidy/mopidy-debug.log

[local]
data_dir = /home/exst/Music/data
media_dir = /home/exst/Music

[youtube]
musicapi_enabled = true

[soundcloud]
auth_token = The config value will appear here.

[spotify]
client_id = The config value will appear here.
client_secret = The config value will appear here.

[m3u]
playlists_dir = /var/lib/mopidy/playlists
