* {
    bg-col:  #1d1d26;
    bg-col-light: #1d1d26;
    border-col: #1d1d26;
    selected-col: #1d1d26;
    blue: #b9adc4;
    fg-col: #b9adc4;
    fg-col2: #636c7e;
    grey: #b5cdbd;
    width: 600;
}


