@import '/home/run/.cache/wal/colors.scss';

* {
	all: unset;
}

$lavender: adjust-color(change-color($color1, $hue: 250deg), $saturation: 20%, $lightness: 10%);
$lighter-shade: adjust-color($color0, $lightness: 1%);
$lighter-shade2: adjust-color($color0, $lightness: 2%);
$lighter-shade3: adjust-color($color0, $lightness: 35%);
$lighter-shade4: adjust-color($color0, $lightness: 3%);
$lighter-shade5: adjust-color($color0, $lightness: 5%);

.status-bar {
	background-color: $lighter-shade;
	color: $color8;
	font-family: Iosevka;
	border-radius: 10px;
}

.status-bar-inner {
	padding: 5px 16px 5px 16px;
}

.icon, .workspace-entry {
	font-size: 1.1rem;
	color: $foreground;
	font-family: 'Symbols Nerd Font';
}

.workspace-entry label {
	padding-left: 8px;
	padding-right: 8px;
	border-radius: 8px;
}

.workspace-entry.current label {
	color: $lavender;
	background-color: $lighter-shade4;
}

.default-font-size, .status-bar {
	font-size: 0.95rem;
}

.current-song-widget {
	padding: 5px 24px 5px 24px;
	background-color: $lighter-shade2;
	border-radius: 24px;
}

.last-corner {
	padding: 5px 16px 5px 8px;
	background-color: $lighter-shade2;
	border-radius: 8px;
}

.current-song-widget .icon {
	color: $lavender;
}

.window-title-widget {
	color: $lighter-shade3;
}

.metric scale trough highlight {
  background-color: $lavender;
  border-radius: 10px;
  color: $foreground;
  border-radius: 10px;
}

.metric scale trough {
  background-color: $lighter-shade5;
  border-radius: 50px;
  min-height: 5px;
  min-width: 80px;
  margin-right: 10px;
}

